In [8]:
from pathlib import PurePath

In [9]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Requirement already satisfied: yfinance in c:\users\atuam\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: pandas>=1.3.0 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (3.4.8)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: requests>=2.26 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\atuam\anaconda3\lib\site-packages (from yfinance) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\atuam\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.2.1)
Requirement already satisfied: cffi>=1.12 in c:\users\atuam\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.14.6)
Requirement already satisfied: pycparser in c:\users\atuam\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.20)
Requirement already satisfied: six>=1.9 in c:\users\atuam\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\atuam\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\atuam\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\atuam\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\atuam\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\atuam\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\atuam\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: bs4 in c:\users\atuam\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\atuam\anaconda3\lib\site-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\atuam\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

In [10]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

ModuleNotFoundError: No module named 'plotly'

In [11]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [12]:
tesla = yf.Ticker('TSLA')

In [7]:
tesla_info = tesla.info

Exception: yfinance failed to decrypt Yahoo data response

In [13]:
tesla_data = tesla.history(period='max')

In [14]:
# first five rows in tesla dataframe
tesla_data.reset_index(inplace=True)
tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [15]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'

html_data = requests.get(url).text

In [16]:
soup = BeautifulSoup(html_data, 'html.parser')

In [17]:
tesla_revenue_html = pd.read_html(url)
tesla_revenue = tesla_revenue_html[1]
tesla_revenue.columns=["Date", "Revenue"]
tesla_revenue.head()

         Date  Revenue
0  2022-12-31  $24,318
1  2022-09-30  $21,454
2  2022-06-30  $16,934
3  2022-03-31  $18,756
4  2021-12-31  $17,719

In [18]:
tesla_revenue.head()

         Date  Revenue
0  2022-12-31  $24,318
1  2022-09-30  $21,454
2  2022-06-30  $16,934
3  2022-03-31  $18,756
4  2021-12-31  $17,719

In [19]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

C:\Users\atuam\AppData\Local\Temp/ipykernel_3540/349343550.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

In [20]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [21]:
tesla_revenue.tail()

          Date Revenue
49  2010-09-30      31
50  2010-06-30      28
51  2010-03-31      21
53  2009-09-30      46
54  2009-06-30      27

In [22]:
gme = yf.Ticker('GME')

In [23]:
gme_data = gme.history(period='max')

In [24]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [25]:
url = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'

html_data = requests.get(url).text

In [26]:
soup = BeautifulSoup(html_data, 'html.parser')

In [27]:
gme_revenue_html = pd.read_html(url)
gme_revenue = gme_revenue_html[1]
gme_revenue.columns=["Date", "Revenue"]
gme_revenue.head()

         Date Revenue
0  2022-10-31  $1,186
1  2022-07-31  $1,136
2  2022-04-30  $1,378
3  2022-01-31  $2,254
4  2021-10-31  $1,297

In [28]:
# remove the comma and dollar sign from the Revenue column.
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"")

gme_revenue.dropna(inplace=True)

gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

C:\Users\atuam\AppData\Local\Temp/ipykernel_3540/1733602048.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"")

In [29]:
# display tail of dataframe
gme_revenue.tail()

          Date Revenue
51  2010-01-31    3524
52  2009-10-31    1835
53  2009-07-31    1739
54  2009-04-30    1981
55  2009-01-31    3492

In [30]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

NameError: name 'make_subplots' is not defined

In [31]:
make_graph(gme_data, gme_revenue, 'GameStop')

NameError: name 'make_subplots' is not defined